<section class="wrapper faq">
  <h2>Frequently Asked Questions</h2>
  <div class="pearl">
    <h3>Why do I get token mismatch error in Slack</h3>
    <p>
      This is mostly caused by a missing or bad token saved for your settings.
      Go to <a href="/setup">setup</a> and follow the instructions for setting up
      your Slack slash command.
    </p>
  </div>
  <div class="pearl">
    <h3>I want to upgrade, how do I give you all my :money_with_wings:</h3>
    <p>You can give me all of your :moneybag: by going to <a href="/settings">settings</a> and clicking "Upgrade Account".</p>
  </div>
  <div class="pearl">
    <h3>I want to cancel my Pro account, how do I stop giving you all of my :money_with_wings:</h3>
    <p>I really hate to see you go, but if you must move on who am I to stop you (just the guy who will starve to death and die homeless without your generous contributions :wink:). You can stop giving your :moneybag: to me by going to <a href="/settings">settings</a> and clicking "Cancel Pro".</p>
  </div>
  <div class="pearl">
    <h3>Some slash commands don't seem to work for me</h3>
    <p>
      While the free plan lets you create and answer as many emojinary as you want,
      you need a pro account to use the following slash commands: <code>random</code>, <code>forfeit</code>, <code>stats</code>, and <code>list</code>.
    </p>
  </div>
  <div class="pearl">
    <h3>How do I delete my account</h3>
    <p>
      You can't. I am always watching you... 0.0<br />
      Just kidding! Go to <a href="/settings">settings</a> and click that big red button! (You know you want to...)
    </p>
  </div>
  <div class="pearl">
    <h3></h3>
    <p></p>
  </div>
  <div class="pearl">
    <h3></h3>
    <p></p>
  </div>
</section>
