<section class="wrapper generator">
  <div class="widget">
    <div class="filter">
      <input type="text" placeholder="filter" />
    </div>
    <div class="emoji-list"></div>
    <div class="slash-command inactive">
      <span></span>
      <div class="close">X</div>
    </div>
    <input type="text" class="hint" placeholder="hint">
    <input type="text" class="answer" placeholder="answer">
    <div class="result">
      <div class="set"></div>
      <button type="button" class="undo">Undo</button>
      <button type="button" class="reset">Reset</button>
      <button type="button" class="generate">Generate</button>
    </div>
  </div>
</section>
