<section class="wrapper pricing">
  <div class="pricing-table">
    <h2>Free</h2>
    <ul>
      <li>Unlimited emojinary</li>
      <li>Unlimited attempts</li>
      <li>Unlimited team members</li>
    </ul>
  </div>
  <div class="pricing-table">
    <h2>Pro</h2>
    <ul>
      <li>Unlimited emojinary</li>
      <li>Unlimited attempts</li>
      <li>Unlimited team members</li>
      <li><small>*</small>Incoming webhooks</li>
      <li>Team member stats<br /><code>/emojinary stats @teamMember</code></li>
      <li>See previous emojinary<br /><code>/emojinary list</code></li>
      <li>Set random emojinary<br /><code>/emojinary random</code></li>
      <li>($1/month per team member)</li>
    </ul>
  </div>
  <p><small>* emojinary! will send notifications to a Slack channel whenever an emojinary is created or solved.</small></p>
  <div class="call-to-action">
    <a href="/login">Integrate with Slack</a>
  </div>
</section>
