<section class="wrapper pricing">
  <div class="pricing-table">
    <h2>Free</h2>
    <ul>
      <li>Unlimited emojinary</li>
      <li>Unlimited attempts</li>
      <li>Unlimited team members</li>
      <li><small>*</small>Incoming webhooks</li>
    </ul>
  </div>
  <div class="pricing-table">
    <h2>Pro</h2>
    <ul>
      <li>Unlimited emojinary</li>
      <li>Unlimited attempts</li>
      <li>Unlimited team members</li>
      <li><small>*</small>Incoming webhooks</li>
      <li>View your stats<br /><code>/emojinary stats</code></li>
      <li>See previous emojinary<br /><code>/emojinary list</code></li>
      <li>Set random emojinary<br /><code>/emojinary random</code></li>
      <li>Forfeit the current emojinary<br /><code>/emojinary forfeit</code></li>
      <li>($5/month) 7 day free trial</li>
    </ul>
  </div>
  <p><small>* emojinary! will send notifications to a Slack channel whenever an emojinary is created, solved, or an attempt to solve is made.</small></p>
  <div class="call-to-action">
    <a href="/login">Integrate with Slack</a>
  </div>
</section>
