* {
  box-sizing: border-box;
}

body {
  color: #3b434b;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

footer {
  color: #bbbbbb;
  height: 40px;
  text-align: center;
}

footer a {
  color: #3498db;
  text-decoration: none;
  transform: color 0.3s linear;
}

footer a:hover {
  color: #297CB3;
}

code {
  background-color: #f1f1f1;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  font-family: 'Source Code Pro', sans-serif;
  padding: 4px 6px;
}

@media screen and (max-width: 550px) {
  code {
    font-size: 10px;
  }
}

div.message {
  background-color: #1abc9c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-transform: uppercase;
}

div.message.error {
  background-color: #c0392b;
}

div.message a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer !important;
}

div.message a:hover {
  color: #ffffff;
}

div.message span a {
  border-bottom: 1px solid #ffffff;
};

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

header {
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  justify-content: space-between;
}

header a {
  color: #9b59b6;
  text-decoration: none;
  transform: color 0.3s linear;
}

header a:hover {
  color: #8e44ad;
}

header h1 {
  background: #ffffff;
  color: #9b59b6;
  font-size: 24px;
  margin: 0;
  padding: 15px;
}

header nav {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px;
}

header nav ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

header nav ul li {
  display: inline-block;
  margin: auto 10px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header .account {
  align-items: center;
  display: flex;
  margin-left: 30px;
  position: relative;
}

header .account a {
  display: flex;
  width: 60px;
}

header .account a img {
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-left: 10px;
}

header .account .account-menu {
  background-color: #ffffff;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 90%;
}

header .account .account-menu.inactive {
  display: none;
}

header .account .account-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .account .account-menu ul li {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: stretch;
  align-items: center;
}

header .account .account-menu ul li a {
  display: block;
  padding: 15px;
  width: 100%;
}

header .account .account-menu ul li a:hover {
  background: #f7f7f7;
}

section[role="main"] {
  display: flex;
  flex: 2;
  flex-direction: column;
}

section.billboard {
  align-items: center;
  background-color: #9b59b6;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  height: 500px;
  justify-content: flex-end;
  overflow: hidden;
}

section.billboard img {
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 70px auto -35%;
  max-width: 80%;
}

@media screen and (min-width: 1200px) {
  section.billboard {
    height: 500px;
  }

  section.billboard img {
    margin-bottom: -550px;
  }
}

@media screen and (max-width: 1200px) {
  section.billboard {
    height: 400px;
  }
}

@media screen and (max-width: 798px) {
  section.billboard {
    height: 300px;
  }

  section.billboard img {
    border-radius: 6px 6px 0 0;
  }
}

@media screen and (max-width: 420px) {
  section.billboard {
    height: 200px;
  }

  section.billboard img {
    margin-bottom: -30%;
    border-radius: 3px 3px 0 0;
  }
}

section .call-to-action {
  text-align: center;
  margin: 90px 0 40px;
}

section .call-to-action a {
  background-color: #9b59b6;
  color: #ffffff !important;
  padding: 10px 14px;
  text-transform: uppercase;
  transition: background-color 0.3s linear;
}

section .call-to-action a:hover {
  background-color: #79458e;
  color: #ffffff !important;
}

section.pitch h2 {
  font-size: 48px;
  margin: 60px auto 75px;
  text-align: center;
}

section.pitch h2 span {
  color: #9b59b6;
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (max-width: 798px) {
  section.pitch h2 span {
    margin-top: 60px;
  }
}

section.pitch h3 {
  font-size: 36px;
  margin-bottom: 40px;
}

section.pitch h4 {
  font-size: 24px;
  margin-bottom: 5px;
}

section.pitch h5 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 15px;
}

section.pitch h3,
section.pitch h4,
section.pitch h5 {
  color: #9b59b6;
}

section.pitch h2 img {
  height: 55px;
  margin-bottom: -0.19em;
  margin-left: 5px;
  vertical-align: text-bottom;
}

section.pitch ul {
  list-style: none;
  margin-left: 15px;
  padding-left: 15px;
}

section.pitch ul li {
  line-height: 30px;
  margin-bottom: 30px;
}

section.pitch .example {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 120px 0;
}

section.pitch .example img {
  margin: 0 10px 10px;
  width: 40px;
}

section.pitch .slash-commands .slash-command {
  margin-bottom: 75px;
}


section.wrapper.pricing {
  margin: auto;
  width: 60%;
  max-width: 100%;
}

@media screen and (max-width: 1299px) {
  section.wrapper.pricing {
    width: 80%;
  }
}

@media screen and (max-width: 999px) {
  section.wrapper.pricing {
    width: 94%;
  }

  section.pricing .pricing-table {
    width: 100% !important;
    margin-bottom: 90px;
  }
}

section.pricing {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

section.pricing > p,
section.pricing > .call-to-action {
  margin-top: 90px;
  text-align: center;
  width: 100%;
}

section.pricing > p {
  color: #9b59b6;
}

section.pricing .pricing-table {
  width: 46%;
}

section.pricing .pricing-table h2 {
  border-bottom: 2px solid #9b59b6;
  color: #9b59b6;
  font-size: 36px;
  margin-bottom: 20px;
  padding: 0 0 15px;
  text-align: center;
}

section.pricing .pricing-table ul {
  list-style: none;
  padding: 0;
}

section.pricing .pricing-table ul li {
  color: #9b59b6;
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

section.pricing .pricing-table ul li code {
  display: inline-block;
  margin-top: 15px;
  text-transform: none;
}

section.setup {
  max-width: 800px;
}

section.setup h2 {
  border-bottom: 2px solid #9b59b6;
  color: #9b59b6;
  font-size: 36px;
  margin: 60px 0;
  padding: 0 0 15px;
}

section.setup h3 {
  color: #9b59b6;
  font-size: 28px;
}

section.setup code {
  color: #3b434b;
}

section.setup img {
  border: 1px solid #9b59b6;
  max-width: 100%;
}

section.setup .instruction,
section.settings .setting {
  margin-bottom: 90px;
}

section.setup .instruction form,
section.settings .setting form {
  display: flex;
  margin: 20px 0;
}

section.settings .setting form {
  flex-wrap: wrap;
}

section.setup .instruction form input[type="text"],
section.settings .setting form input[type="text"] {
  border: 1px solid #9b59b6;
  color: #9b59b6;
  flex: 2;
  margin-right: 30px;
  padding: 10px 14px;
}

section.setup .instruction form button,
section.settings .setting form button {
  background-color: #9b59b6;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 10px 14px;
  text-transform: uppercase;
  transition: background-color 0.3s linear;
}

section.setup .instruction form button:hover,
section.settings .setting form button:hover {
  background-color: #79458e;
}

section.settings .setting form button.delete-account {
  background-color: #e74c3c;
}

section.settings .setting form button.delete-account:hover {
  background-color: #c0392b;
}

section.settings h2 {
  border-bottom: 2px solid #9b59b6;
  color: #9b59b6;
  font-size: 36px;
  margin: 60px 0;
  padding: 0 0 15px;
}

section.settings .setting form legend {
  color: #9b59b6;
  font-size: 24px;
  margin-bottom: 10px;
  width: 100%;
}

section.settings .setting.inactive {
  display: none;
}

section.wrapper {
  margin: 0 auto 60px;
  padding: 0 20px;
}

section.wrapper a {
  color: #3498db;
  text-decoration: none;
  transform: color 0.3s linear;
}

section.wrapper a:hover {
  color: #297CB3;
}
