<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pictionary with emoji! Right in Slack">
    <meta name="keywords" content="Pictionary with emoji! Right in Slack">
    <meta property="og:title" content="Pictionary with emoji! Right in Slack">
    <meta property="og:description" content="Pictionary with emoji! Right in Slack">
    <meta property="og:image" content="http://emojinary.releasable.io/images/emoji/billboard.png">
    <meta property="og:url" content="http://emojinary.releasable.io">
    <meta property="og:type" content="website">

    <title>emojinary!</title>

    <link rel="canonical" href="http://emojinary.releasable.io">
    <link rel="shortcut icon" href="/images/emoji/smile.png" type="image/x-icon" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="/styles/emojify.min.css" rel="stylesheet" type="text/css">
    <link href="/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{#if message}}
      <div class="message">
        {{{ message }}}
        <a href="#" class="close-message">x</a>
      </div>
    {{/if}}

    {{#if errorMessage }}
      <div class="message error">
        {{{ errorMessage }}}
        <a href="#" class="close-message">x</a>
      </div>
    {{/if}}
    <header class="{{#if noBorder}}no-border{{/if}}">
      <h1 class="branding"><a href="/">emojinary!</a></h1>
      {{#unless loggedIn}}
        <nav>
          <ul>
            <li>
              <a href="/signup">Sign Up</a>
            </li>
            <!-- <li><a href="/faq">FAQ</a></li> -->
            <li>
              <a href="/login">Login</a>
            </li>
          </ul>
        </nav>
      {{else}}
        <div class="account">
          {{ user.user_name }}
          <a href="/settings" title="account-menu">
            <img src="{{ user.avatar }}" class="avatar" alt="profile picture" />
          </a>

          <div class="account-menu inactive">
            <ul>
              <li>
                <a href="/setup">Setup</a>
              </li>
              <li>
                <a href="/settings">Settings</a>
              </li>
              <li>
                <a href="/logout?team_id={{ user.id }}">Logout</a>
              </li>
              <li>
                <a href="mailto:emojinary.support@releasable.io">
                  Support
                </a>
              </li>
            </ul>
          </div>
        </div>
      {{/unless}}
      <a class="generator-link" href="/generator"><small>Generator</small></a>
    </header>
    <section role="main">
      {{{ content }}}
    </section>
    <footer>
      made with <3 by <a href="https://github.com/kkemple" target="_blank">@kkemple</a><br /><a href="/tos">Terms of Service</a> - <a href="/faq">FAQ</a>
    </footer>

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="/scripts/vendor/emojify.min.js"></script>
    <script src="/scripts/emoji-list.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
